{% extends "base.html" %}

{% block content %}
	<h1>Pico-8 Mobile Libraries</h1>
	<p>The games I am developing for Unseen Games are designed using Pico-8, for them I have written up a number of different libraries. This is the documentation for them. Specifically there is a mouse control for mobile library, a general game flow library and a function for the generation of a maze.  Feel free to use any of this, however, leaving a reference to this page would be appreciated.</p>
	<table style="width:100%">
		<tr>
			<td>
				<a class="title" href="/games/pico8/morse">Morse Code</a>
			</td>
		</tr>
		<tr> 
			<td>
				<a class="title" href="/games/pico8/gameflow">Game Flow Control</a>
			</td>
		</tr>
		<tr> 
			<td>
				<a class="title" href="/games/pico8/mouse">Mouse Control</a>
			</td>
		</tr>
		<tr> 
			<td>
				<a class="title" href="/games/pico8/mazegen">Maze Generation</a>
			</td>
		</tr>
	</table>
{% endblock %}
