
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Smooth image switching #6 - JS linear (drag left/ right, mouse or touch)</title>
  <link rel="stylesheet" href="../static/css/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<div class='container'>
	<a href="/whiteout">
		<img src='../static/whiteout.png' alt='whiteout'/>
	</a>
	<a href="/enginebay_old">
		<img src='../static/azir_wallpaper.jpg' alt='Black and white image of Azir from League of Legends, crossed arms.'/>
	</a>
	<a href="/minesweeper" >
		<img src='../static/space_wallpaper.jpg' alt='Two planets, one smaller with a disc and one larger without a disc.'/>
	</a>
	<a href="/goblinescape">
		<img src='../static/robot_wallpaper.jpg' alt='Cool Robot.'/>
	</a>
	<a href="/enginebay">
		<img src='../static/prove_wallpaper.jpg' alt='Quote "Prove Them Wrong" on black background.'/>
	</a>
</div>
<!-- partial -->
  <script  src="../static/welcome.js"></script>

</body>
</html>